*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 5% 1.5rem;
  max-width: 1000px;
  width: 100%;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.slider__legend {
  padding: 1rem 3rem 0 0;
  list-style: none;
}

.slider__legend h2 {
  margin-bottom: 1rem;
}

.slider__legend li {
  display: flex;
  margin-bottom: 1rem;
}

.slider__legend li span {
  display: inline-block;
}

.slider__legend li span:first-child {
  height: 20px;
  width: 20px;
  margin-bottom: -2px;
}

.slider__legend li span:nth-child(2) {
  margin: 0 0.5rem;
}

.slider__legend li span:last-child {
  font-size: 1.25rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums lining-nums;
  min-width: 60px;
}
